prometheus.scrape "ax_finance" {
  targets = [{
    "__address__" = "web:3000",
    "job"         = "ax-finance",
    "environment" = sys.env("DEPLOY_ENVIRONMENT"),
  }]
  metrics_path    = "/api/metrics"
  scrape_interval = "30s"
  bearer_token    = sys.env("METRICS_TOKEN")
  forward_to      = [prometheus.remote_write.external.receiver]
}

prometheus.remote_write "external" {
  endpoint {
    url = sys.env("PROMETHEUS_REMOTE_WRITE_URL")
    basic_auth {
      username = sys.env("PROMETHEUS_REMOTE_WRITE_USERNAME")
      password = sys.env("PROMETHEUS_REMOTE_WRITE_PASSWORD")
    }
  }
}
